/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Passion+One');
@import url('https://fonts.googleapis.com/css?family=Kalam:300,400,700');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Kalam', cursive;
*/

body {
	background-color: whitesmoke;
	font-family: 'Kalam', cursive;
}
nav, footer {
	font-family: 'Open Sans', sans-serif;
}
.logo {
	font-family: 'Kalam', cursive;
}
header, .content h1 {
	text-align: center;
}
h1 {
	padding: 10px 0 50px 0;
}
h3, li {
	text-align: left;
}
footer div {
	text-align: center;
	color: white;
	font-size: 12px;
	background: #262626;
	padding-top: 8px;
}

/* link & hover */
a {
	color: black;
}
a:hover, #nav-hover:hover {
	color: crimson;
}
a:hover, a:active, a:visited, a:focus {
	text-decoration: none;
}
header a {
	margin: 0 15px;
}

/* navigation */
nav li {
	padding-left: 20px;
}

/* head symbol */
.big-icon {
	font-size: 150px;
	padding: 30px 0;
}

/* font size position of content */
.content {
	margin: 80px 0;
	text-align: center;
}
.content p, .content li {
	font-size: 20px;
	text-align: justify;	
}
.with-content {
	padding: 50px 0 20px 0;
	text-align: left;
}

/* img size */
.store {
	width: 150px;
	margin: 20px 7px 0 7px;
}
.fl-right {
	float: right;
}

/* responsive img */
img {
	width: 100%;
	height: auto;
	margin: 5px;
}
.img-350 {
	max-width: 350px;
}
.img-250 {
	max-width: 250px;
}
.img-200 {
	max-width: 200px;
}

/* responsive youtube iframe */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* slide show */
.slideFrame {
	max-width: 700px;
	margin: 0 auto;
}
.mySlides {
	width: 100%;
}

/* video */
video {
	max-width: 550px;
	width: 100%;
	border: 6px inset #dedede;
}